body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

#tablero {
  display: grid;
  grid-template-columns: repeat(7, 150px);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.carta {
  width: 150px;
  height: 150px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

.carta img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.carta.volteada {
  transform: rotateY(180deg);
}
button#reiniciar {
  margin: 20px auto 0; /* Centra el botón horizontalmente */
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: block; /* Necesario para que 'margin: auto' funcione */
}

button#reiniciar:hover {
  background-color: #555;
}

button#reiniciar:active {
  transform: scale(0.95);
}
