@import url('https://fonts.cdnfonts.com/css/futura-display');
@import url('https://fonts.cdnfonts.com/css/adumu-inline');
@import url('https://fonts.cdnfonts.com/css/gajraj-one');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/Imagenes/fondoKefrok.png'); /* Ruta de la imagen */
    background-size: cover; /* Asegura que el fondo cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita la repetición del fondo */
    background-attachment: fixed; /* Fija el fondo para evitar que se mueva */
    cursor: url('/Imagenes/blancoPuntero.png'), auto;
}

body.dark-mode {
    background-color: #121212;
    color: #7c7c7c;
}


div {
    display: flex; /* Utilizamos flexbox para alinear la imagen y los títulos */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    gap: 10px; /* Espacio entre la imagen y el texto */
    padding: 10px; /* Añade espaciado alrededor del contenedor */
}

img {
    width: 300px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}

.titulos {
    display: flex; /* Apila verticalmente los títulos */
    flex-direction: column;
    justify-content: center; /* Centra el texto verticalmente */
    text-align: center; /* Centra el texto horizontalmente dentro de su contenedor */
}

h1 {
    font-family: 'futura display', sans-serif;
    font-size: 50px;
    color: white;
    margin: 0; /* Elimina márgenes por defecto */
    text-shadow: 
        2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la legibilidad */
}

h1:first-of-type {
    margin-bottom: 10px; /* Espaciado entre las dos líneas de texto */
}
p {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 25px;
    color: white; /* Texto blanco para contraste */
    text-align: justify; /* Justifica el texto para una mejor presentación */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    padding: 15px; /* Espaciado interno para separar texto del borde */
    border-radius: 10px; /* Bordes redondeados para un efecto visual suave */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para resaltar el contenedor */
}
video {
    display: block; /* Asegura que el video se comporte como un bloque */
    margin: 20px auto 60px; /* Margen superior e inferior, centrado horizontalmente */
    border: 5px solid rgba(255, 255, 255, 0.7); /* Borde blanco semitransparente */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para resaltar el video */
}

.footer-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre los botones */
    margin-top: 50px; /* Espaciado antes de los botones */
}

#volverInicio, #licencias {
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    background-color: #ff00fb;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

#licencias a {
    text-decoration: none;
    color: white;
    display: block;
}

#volverInicio:hover, #licencias:hover {
    background-color: #890074;
}
